<h1>
	User search for "<%= params[:search] %>"
</h1>

<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td width="100" height="50">
         <div class="user-edit-image">
         <%= attachment_image_tag user, :profile_image, class: "img-square", fallback: "no_image.jpg", size: "60x60" %>
         </div>
        </td>
        <td><%= user.name %></td>
        <td>
      フォロー数：<%= user.following.count %>
    </td>
    <td>
      フォロワー数：<%= user.followers.count %>
    </td>
    <td>
      <% unless current_user == user %>
      <% if current_user.following?(user) %>
        <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
            html: { method: :delete }, local: true) do |f| %>
        <%= f.submit "Unfollow", class: "btn btn-info" %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
        <div><%= hidden_field_tag :followed_id, user.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <% end %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>