<div class="container">
  <div class="row">
  	<%= render 'shared/sidebar'%>
  	<div class="col-xs-9">
  	  <h2>Users</h2>
      
  		<table class="table">

            <thead>
              <th>image</th>
              <th>name</th>
              <th></th>
            </thead> 

            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td width="100" height="50"><div class="user-edit-image"><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "img-square", fallback: "no_image.jpg", size: "60x60" %></div></td>
                <td><%= user.name %></td>
                <td>
                  <% unless current_user == user %>
                  <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, local: true) do |f| %>
                  <%= f.submit "Unfollow", class: "btn btn-info" %>
                  <% end %>
                  <% else %>
                  <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
                  <div><%= hidden_field_tag :followed_id, user.id %></div>
                  <div class="follow-btn"><%= f.submit "Follow", class: "btn btn-primary" %></div>
                  <% end %>
                  <% end %>
                  <% end %>

                </td>
                <td><%= link_to "Show", user_path(user) %></td>
              </tr>
            <% end %>
            </tbody>
        </table>
  	</div>
  </div>
</div>