<table class="table">
            <thead>
              <th>User</th>
              <th></th>
              <th>Comments</th>
            </thead>
            <tbody>
              <% @book.book_comments.each do |book_comment| %>
              <tr>
                <td><div class="user-edit-image"><%= attachment_image_tag book_comment.user, :profile_image, format: 'jpeg', class: "img-square", fallback: "no_image.jpg", size: "60x60" %></div><%= link_to user_path(book_comment.user) do %><%= book_comment.user.name %><% end %></td>
                <td><%= book_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= book_comment.comment %></td>
                <% if book_comment.user == current_user %>
                <td>
                <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
                </td>
                <% end %>
                <% end %>
              </tr>
            </tbody>
        </table>