<div class="container">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <div class="col-xs-9">
      <h2>Book detail</h2>

      <div class="book_show">
      <table class="table">
            <thead>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </thead>
            <tbody>
              <tr>
                <td width="100" height="50"><div class="user-edit-image"><%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', class: "img-square", fallback: "no_image.jpg", size: "60x60" %></div><%= link_to user_path(@book.user) do %><%= @book.user.name %><% end %></td>
                <td><%= @book.title %></td>
                <td><%= @book.body %></td>
                <% if current_user == @book.user %>
                <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-danger" %></td><% end %>
                <td>
                  <div id="favorite_buttons_<%= @book.id %>">
                  <%= render "shared/favorite_button", book:@book %>
                </div>
                </td>
                <td><%= @book.book_comments.count %>件のコメント</td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="book_comments">
        <%= render "shared/book_comment" %>
      </div>
      <div class="comment_form">
        <%= render "shared/book_comment_form" %>
      </div>
    </div>
  </div>
</div>